<!-- views/reviews-edit.handlebars -->
<form method="POST" action="/reviews/{{review._id}}?_method=PUT">
{{> reviews-form}}
{{!-- button --}}
<p>
    <button type="submit">Save Review</button><br>
    <button type="cancel" onclick="window.location='/';return false;">Cancel</button><br>
</p>
</form>
