<!-- views/reviews-new.handlebars -->
<form method="POST" action="/reviews">
  {{> reviews-form}}
  <!-- BUTTON -->
  <p>
    <button type="submit">Save Review</button><br>
    <button type="cancel" onclick="window.location='/';return false;">Cancel</button><br>
  </p>
</form>