<!-- views/reviews-show.handlebars -->

<a href="/movies/{{review.movieId}}">Back to {{review.movieTitle}}</a>
<div class="col-sm-12">
    <h1 class="col-sm-6 col-sm-offset-3">Review</h1>
        {{> review review}}
</div>
    <hr>
<!-- Show Comments -->
    {{#each comments}}
      {{> comment comment=this movieId=../review.movieId}}
    {{/each}}
     <!-- Comment form -->
    {{> comment-form}}
  </div>
</div>